body{
    background-color: #c0c4bb;
  }

.corpo {
    width: 960px;
    margin: auto;
}

.conteudo {
    display: table;
    width: 960px;
}

.imagem {
    display: table-cell;
    float: left;
}  

.texto {
    display: table-cell;
    float: left;
    width: 400px;
    margin-top: 90px; 
    margin-left: 140px;
}

.titulo-principal {
    background-color: rgb(236, 236, 124);
    color: rgb(35, 4, 127);
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    box-shadow: 15px 10px rgb(88, 86, 103);
  }

  .contato-lista{
    background-color: rgb(236, 236, 124);
    color: rgb(35, 4, 127);
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    padding: 160px;
    border-radius: 600px;
    box-shadow: 10px 5px rgb(88, 86, 103);
  }

  *{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

h1{
    color: rgb(20, 1, 1);
    margin: 20px 0px 20px;
    font-size: 75px;
}

h4{
    color: rgba(245, 6, 6, 0.8);
    letter-spacing: 2px;
    font-size: 20px;
}

h3{
    color: #fff;
    font-size: 25px;
    margin-bottom: 50px;
}

img {
    max-width: 700px;
    width: 700px;
     background-color: green;
     color: rgb(244, 8, 8);
     max-width: 280px;
     margin: 0 auto;
     text-align: center;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 20px 15px rgb(250, 250, 250); 
}

footer{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: #070000ed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p{
    color: rgb(250, 238, 4);
    font-size: 15px;
    width: 500px;
    text-align: center;
    margin-top: 15px;
    letter-spacing: 1px;
    line-height: 23px;
}



